/* Catppuccin Mocha Sapphire userChrome.css*/

@media (prefers-color-scheme: dark) {

  :root {
    --zen-colors-primary: #252b29 !important;
    --zen-primary-color: #6adab7 !important;
    --zen-colors-secondary: #252b29 !important;
    --zen-colors-tertiary: #353a38 !important;
    --zen-colors-border: #6adab7 !important;
    --toolbarbutton-icon-fill: #6adab7 !important;
    --lwt-text-color: #dee4df !important;
    --toolbar-field-color: #dee4df !important;
    --tab-selected-textcolor: #6adab7 !important;
    --toolbar-field-focus-color: #dee4df !important;
    --toolbar-color: #dee4df !important;
    --newtab-text-primary-color: #dee4df !important;
    --arrowpanel-color: #dee4df !important;
    --arrowpanel-background: #0f1512 !important;
    --sidebar-text-color: #dee4df !important;
    --lwt-sidebar-text-color: #dee4df !important;
    --lwt-sidebar-background-color: #0f1512 !important;
    --toolbar-bgcolor: #252b29 !important;
    --newtab-background-color: #0f1512 !important;
    --zen-themed-toolbar-bg: #0f1512 !important;
    --zen-main-browser-background: #0f1512 !important;
    --toolbox-bgcolor-inactive: #0f1512 !important;
  }

  #permissions-granted-icon{
    color: #0f1512 !important;
  }

  .sidebar-placesTree {
    background-color: #0f1512 !important;
  }

  #zen-workspaces-button {
    background-color: #0f1512 !important;
  }

  #TabsToolbar {
    background-color: #0f1512 !important;
  }

  #urlbar-background {
    background-color: #252b29 !important;
  }

  .content-shortcuts {
    background-color: #252b29 !important;
    border-color: #6adab7 !important;
  }

  .urlbarView-url {
    color: #6adab7 !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #0f1512 !important;
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {
      &:is([open], [checked]) > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack){
        fill: #0f1512;
      }
    }
  }
  .identity-color-blue {
    --identity-tab-color: #89b4fa !important;
    --identity-icon-color: #89b4fa !important;
  }
  .identity-color-turquoise {
    --identity-tab-color: #94e2d5 !important;
    --identity-icon-color: #94e2d5 !important;
  }
  .identity-color-green {
    --identity-tab-color: #a6e3a1 !important;
    --identity-icon-color: #a6e3a1 !important;
  }
  .identity-color-yellow {
    --identity-tab-color: #f9e2af !important;
    --identity-icon-color: #f9e2af !important;
  }
  .identity-color-orange {
    --identity-tab-color: #fab387 !important;
    --identity-icon-color: #fab387 !important;
  }
  .identity-color-red {
    --identity-tab-color: #f38ba8 !important;
    --identity-icon-color: #f38ba8 !important;
  }
  .identity-color-pink {
    --identity-tab-color: #f5c2e7 !important;
    --identity-icon-color: #f5c2e7 !important;
  }
  .identity-color-purple {
    --identity-tab-color: #cba6f7 !important;
    --identity-icon-color: #cba6f7 !important;
  }
}

.zen-current-workspace-indicator {
  display: none !important;
}

#navigator-toolbox:not([animate='true']) {
  #titlebar {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      pointer-events: none;
      outline: 0px !important;
      z-index: -1;
      border-radius: 11px !important;
      background: #0f1512 !important;
    }

    &::after {
      content: '';
      position: absolute;
      pointer-events: none;
      z-index: 0;
      background: #0f1512 !important;
      mix-blend-mode: overlay;
    }
  }
}
