@media (prefers-color-scheme: dark) {

  /* Common variables affecting all pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: #e4e3d7 !important;
      --color-accent-primary: #bdce80 !important;
      --color-accent-primary-hover: #c4caa9 !important;
      --color-accent-primary-active: #c4caa9 !important;
      background-color: #13140d !important;
      --in-content-page-background: #13140d !important;
    }

  }

  /* Variables and styles specific to about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {

    :root {
      --newtab-background-color: #13140d !important;
      --newtab-background-color-secondary: #292b23 !important;
      --newtab-element-hover-color: #292b23 !important;
      --newtab-text-primary-color: #e4e3d7 !important;
      --newtab-wordmark-color: #e4e3d7 !important;
      --newtab-primary-action-background: #bdce80 !important;
    }

    /* Attempt to hide the customize button */
    .personalize-button, .customize-homepage-button {
      display: none !important;
    }

    .icon {
      color: #bdce80 !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
      background: url("../../zen-logo.svg") no-repeat center !important;
      display: inline-block !important;
      height: 82px !important;
      width: 82px !important;
      background-size: 82px !important;
    }

    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
      }
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: #bdce80 !important;
    }

    .top-site-outer .search-topsite {
      background-color: #bdce80 !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download {
      fill: #a6e3a1 !important;
    }
  }

  /* Variables and styles specific to about:preferences */
  @-moz-document url-prefix("about:preferences") {
    :root {
      --zen-colors-tertiary: #13140d !important;
      --in-content-text-color: #e4e3d7 !important;
      --link-color: #bdce80 !important;
      --link-color-hover: #c4caa9 !important;
      --zen-colors-primary: #292b23 !important;
      --in-content-box-background: #292b23 !important;
      --zen-primary-color: #bdce80 !important;
    }

    groupbox , moz-card{
      background: #13140d !important;
    }

    button,
    groupbox menulist {
      background: #292b23 !important;
      color: #e4e3d7 !important;
    }

    .main-content {
      background-color: #13140d !important;
    }
  .identity-color-blue {
    --identity-tab-color: #89b4fa !important;
    --identity-icon-color: #89b4fa !important;
  }
  .identity-color-turquoise {
    --identity-tab-color: #94e2d5 !important;
    --identity-icon-color: #94e2d5 !important;
  }
  .identity-color-green {
    --identity-tab-color: #a6e3a1 !important;
    --identity-icon-color: #a6e3a1 !important;
  }
  .identity-color-yellow {
    --identity-tab-color: #f9e2af !important;
    --identity-icon-color: #f9e2af !important;
  }
  .identity-color-orange {
    --identity-tab-color: #fab387 !important;
    --identity-icon-color: #fab387 !important;
  }
  .identity-color-red {
    --identity-tab-color: #f38ba8 !important;
    --identity-icon-color: #f38ba8 !important;
  }
  .identity-color-pink {
    --identity-tab-color: #f5c2e7 !important;
    --identity-icon-color: #f5c2e7 !important;
  }
  .identity-color-purple {
    --identity-tab-color: #cba6f7 !important;
    --identity-icon-color: #cba6f7 !important;
  }
}

  /* Variables and styles specific to about:addons */
  @-moz-document url-prefix("about:addons") {
    :root {
      --zen-dark-color-mix-base: #1f2019 !important;
      --background-color-box: #13140d !important;
    }
  }

  /* Variables and styles specific to about:protections */
  @-moz-document url-prefix("about:protections") {
    :root {
      --zen-primary-color: #13140d !important;
      --social-color: #ba68c8 !important;
      --coockie-color: #2190a4 !important;
      --fingerprinter-color: #ffb74d !important;
      --cryptominer-color: #64b5f6 !important;
      --tracker-color: #81c784 !important;
      --in-content-primary-button-background-hover: #34352d !important;
      --in-content-primary-button-text-color-hover: #e4e3d7 !important;
      --in-content-primary-button-background: #34352d !important;
      --in-content-primary-button-text-color: #e4e3d7 !important;
    }


    .card {
      background-color: #292b23 !important;
    }
  }
}
