/* Catppuccin Mocha Sapphire userChrome.css*/

@media (prefers-color-scheme: dark) {

  :root {
    --zen-colors-primary: #312823 !important;
    --zen-primary-color: #ffb68e !important;
    --zen-colors-secondary: #312823 !important;
    --zen-colors-tertiary: #413732 !important;
    --zen-colors-border: #ffb68e !important;
    --toolbarbutton-icon-fill: #ffb68e !important;
    --lwt-text-color: #f0dfd7 !important;
    --toolbar-field-color: #f0dfd7 !important;
    --tab-selected-textcolor: #ffb68e !important;
    --toolbar-field-focus-color: #f0dfd7 !important;
    --toolbar-color: #f0dfd7 !important;
    --newtab-text-primary-color: #f0dfd7 !important;
    --arrowpanel-color: #f0dfd7 !important;
    --arrowpanel-background: #1a120d !important;
    --sidebar-text-color: #f0dfd7 !important;
    --lwt-sidebar-text-color: #f0dfd7 !important;
    --lwt-sidebar-background-color: #1a120d !important;
    --toolbar-bgcolor: #312823 !important;
    --newtab-background-color: #1a120d !important;
    --zen-themed-toolbar-bg: #1a120d !important;
    --zen-main-browser-background: #1a120d !important;
    --toolbox-bgcolor-inactive: #1a120d !important;
  }

  #permissions-granted-icon{
    color: #1a120d !important;
  }

  .sidebar-placesTree {
    background-color: #1a120d !important;
  }

  #zen-workspaces-button {
    background-color: #1a120d !important;
  }

  #TabsToolbar {
    background-color: #1a120d !important;
  }

  .urlbar-background {
    background-color: #312823 !important;
  }

  .content-shortcuts {
    background-color: #312823 !important;
    border-color: #ffb68e !important;
  }

  .urlbarView-url {
    color: #ffb68e !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #1a120d !important;
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {
      &:is([open], [checked]) > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack){
        fill: #1a120d;
      }
    }
  }
  .identity-color-blue {
    --identity-tab-color: #89b4fa !important;
    --identity-icon-color: #89b4fa !important;
  }
  .identity-color-turquoise {
    --identity-tab-color: #94e2d5 !important;
    --identity-icon-color: #94e2d5 !important;
  }
  .identity-color-green {
    --identity-tab-color: #a6e3a1 !important;
    --identity-icon-color: #a6e3a1 !important;
  }
  .identity-color-yellow {
    --identity-tab-color: #f9e2af !important;
    --identity-icon-color: #f9e2af !important;
  }
  .identity-color-orange {
    --identity-tab-color: #fab387 !important;
    --identity-icon-color: #fab387 !important;
  }
  .identity-color-red {
    --identity-tab-color: #f38ba8 !important;
    --identity-icon-color: #f38ba8 !important;
  }
  .identity-color-pink {
    --identity-tab-color: #f5c2e7 !important;
    --identity-icon-color: #f5c2e7 !important;
  }
  .identity-color-purple {
    --identity-tab-color: #cba6f7 !important;
    --identity-icon-color: #cba6f7 !important;
  }
}

hbox#titlebar {
    background-color: #1a120d !important;
    border-radius: 11px !important;
}

.zen-current-workspace-indicator {
  display: none !important;
}

/* CSD */
#navigator-toolbox[zen-right-side="true"] > #zen-sidebar-top-buttons > .titlebar-buttonbox-container > .titlebar-buttonbox {
    margin-top: 11px !important;
}

.titlebar-buttonbox {
    margin-right: 10px;
    padding-right: 0px !important;
}

.titlebar-button {
    padding: 0px !important;
    min-height: 16px !important;
    min-width: 16px !important;
    height: 16px !important;
    align-self: center;
    margin-left: 14px !important;
    border-radius: 50px;
    transition: all 100ms;
}

.titlebar-min {
    background-color: #fdbe04 !important;
}

.titlebar-max, .titlebar-restore {
    background-color: #38c76a !important;
}

.titlebar-close {
    background-color: #fd5f51 !important;
}

.titlebar-button > image {
    visibility: collapse !important;
}

/* Inactive window state */
.titlebar-button:-moz-window-inactive {
    background-color: #4C4C50 !important;
}

@media (-moz-bool-pref: "theme.zen-minimal-exit-menu.enable-icon-visibility"){
    .titlebar-button:hover > image {
        visibility: visible !important;
        max-height: 12px !important;
        max-width: 12px !important;
        position: relative !important;
        left: 0 !important;
        filter: brightness(0) invert(1) !important;
    }
}

@media (-moz-bool-pref: "theme.zen-minimal-exit-menu.enable-macos-identic") {
    /* Keep original colors on hover, don't dim */
}

@media not (-moz-bool-pref: "theme.zen-minimal-exit-menu.enable-macos-identic") {
    .titlebar-button {
        background-color: #323238 !important;
    }
    
    .titlebar-min:hover {
        background-color: #fdbe04 !important;
    }

    .titlebar-max:hover, .titlebar-restore:hover {
        background-color: #38c76a !important;
    }

    .titlebar-close:hover {
        background-color: #fd5f51 !important;
    }
    
    .titlebar-button:hover {
        min-height: 20px !important;
    }
}
/* CSD END */
