/* Catppuccin Mocha Sapphire userChrome.css*/

@media (prefers-color-scheme: dark) {

  :root {
    --zen-colors-primary: #31282a !important;
    --zen-primary-color: #ffb0c9 !important;
    --zen-colors-secondary: #31282a !important;
    --zen-colors-tertiary: #403739 !important;
    --zen-colors-border: #ffb0c9 !important;
    --toolbarbutton-icon-fill: #ffb0c9 !important;
    --lwt-text-color: #efdfe1 !important;
    --toolbar-field-color: #efdfe1 !important;
    --tab-selected-textcolor: #ffb0c9 !important;
    --toolbar-field-focus-color: #efdfe1 !important;
    --toolbar-color: #efdfe1 !important;
    --newtab-text-primary-color: #efdfe1 !important;
    --arrowpanel-color: #efdfe1 !important;
    --arrowpanel-background: #191113 !important;
    --sidebar-text-color: #efdfe1 !important;
    --lwt-sidebar-text-color: #efdfe1 !important;
    --lwt-sidebar-background-color: #191113 !important;
    --toolbar-bgcolor: #31282a !important;
    --newtab-background-color: #191113 !important;
    --zen-themed-toolbar-bg: #191113 !important;
    --zen-main-browser-background: #191113 !important;
    --toolbox-bgcolor-inactive: #191113 !important;
  }

  #permissions-granted-icon{
    color: #191113 !important;
  }

  .sidebar-placesTree {
    background-color: #191113 !important;
  }

  #zen-workspaces-button {
    background-color: #191113 !important;
  }

  #TabsToolbar {
    background-color: #191113 !important;
  }

  .urlbar-background {
    background-color: #31282a !important;
  }

  .content-shortcuts {
    background-color: #31282a !important;
    border-color: #ffb0c9 !important;
  }

  .urlbarView-url {
    color: #ffb0c9 !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #191113 !important;
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {
      &:is([open], [checked]) > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack){
        fill: #191113;
      }
    }
  }
  .identity-color-blue {
    --identity-tab-color: #89b4fa !important;
    --identity-icon-color: #89b4fa !important;
  }
  .identity-color-turquoise {
    --identity-tab-color: #94e2d5 !important;
    --identity-icon-color: #94e2d5 !important;
  }
  .identity-color-green {
    --identity-tab-color: #a6e3a1 !important;
    --identity-icon-color: #a6e3a1 !important;
  }
  .identity-color-yellow {
    --identity-tab-color: #f9e2af !important;
    --identity-icon-color: #f9e2af !important;
  }
  .identity-color-orange {
    --identity-tab-color: #fab387 !important;
    --identity-icon-color: #fab387 !important;
  }
  .identity-color-red {
    --identity-tab-color: #f38ba8 !important;
    --identity-icon-color: #f38ba8 !important;
  }
  .identity-color-pink {
    --identity-tab-color: #f5c2e7 !important;
    --identity-icon-color: #f5c2e7 !important;
  }
  .identity-color-purple {
    --identity-tab-color: #cba6f7 !important;
    --identity-icon-color: #cba6f7 !important;
  }
}

hbox#titlebar {
    background-color: #191113 !important;
    border-radius: 11px !important;
}

.zen-current-workspace-indicator {
  display: none !important;
}

///* CSD */
//#navigator-toolbox[zen-right-side="true"] > #zen-sidebar-top-buttons > .titlebar-buttonbox-container > .titlebar-buttonbox {
//    margin-top: 11px !important;
//}
//
//.titlebar-buttonbox {
//    margin-right: 10px;
//    padding-right: 0px !important;
//}
//
//.titlebar-button {
//    padding: 0px !important;
//    min-height: 16px !important;
//    min-width: 16px !important;
//    height: 16px !important;
//    align-self: center;
//    margin-left: 14px !important;
//    border-radius: 50px;
//    transition: all 100ms;
//}
//
//.titlebar-min {
//    background-color: #fdbe04 !important;
//}
//
//.titlebar-max, .titlebar-restore {
//    background-color: #38c76a !important;
//}
//
//.titlebar-close {
//    background-color: #fd5f51 !important;
//}
//
//.titlebar-button > image {
//    visibility: collapse !important;
//}
//
///* Inactive window state */
//.titlebar-button:-moz-window-inactive {
//    background-color: #4C4C50 !important;
//}
//
//@media (-moz-bool-pref: "theme.zen-minimal-exit-menu.enable-icon-visibility"){
//    .titlebar-button:hover > image {
//        visibility: visible !important;
//        max-height: 12px !important;
//        max-width: 12px !important;
//        position: relative !important;
//        left: 0 !important;
//        filter: brightness(0) invert(1) !important;
//    }
//}
//
//@media (-moz-bool-pref: "theme.zen-minimal-exit-menu.enable-macos-identic") {
//    /* Keep original colors on hover, don't dim */
//}
//
//@media not (-moz-bool-pref: "theme.zen-minimal-exit-menu.enable-macos-identic") {
//    .titlebar-button {
//        background-color: #323238 !important;
//    }
//    
//    .titlebar-min:hover {
//        background-color: #fdbe04 !important;
//    }
//
//    .titlebar-max:hover, .titlebar-restore:hover {
//        background-color: #38c76a !important;
//    }
//
//    .titlebar-close:hover {
//        background-color: #fd5f51 !important;
//    }
//    
//    .titlebar-button:hover {
//        min-height: 20px !important;
//    }
//}
///* CSD END */
